
.job-cont {
  padding:15px;
  display: flex;
  justify-content: center;
  background: #f4f6ff;
}

.job-card {
  width: 100%;
  display: flex;
  gap: 24px;
}


.sec1 {
  width:25%;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  height: max-content;
  position: sticky;
  top: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}




.sec2 {
  width: 75%;
}

.sec2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



/* RESPONSIVE */
@media (max-width: 992px) {
  .job-card {
    flex-direction: column;
  }

  .sec1, .sec2 {
    width: 100%;
  }

  .sec1 {
    position: relative;
    top: 0;
  }
}

.input-box {
  width:70%;
  align-items: center;
  padding: 20px;
  margin: 0;
  
}

.input-box input {
  width:100%;
  padding:15px;
  background: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  transition: 0.25s ease;
}
